body {
	margin: 0;
	padding: 0;
}

.Home {
	height: 100vh;
	background-size: cover;
	background-image: url('./images/yosemite-bg-image-min.jpg');

	.header-wrapper {
		transform: translateY(60px);
		margin: 0 auto;

		@media (min-width: 768px) {
			transform: translateY(150px);
		}
	}

	.form-wrapper {
		transform: translateY(100px);
		max-width: 700px;
		margin: 0 auto;

		@media (min-width: 768px) {
			transform: translateY(200px);
		}

		.divider {
			display: none;
			@media (min-width: 768px) {
				display: block;
			}
		}
		.search-form-container {
			display: flex;
			flex-direction: column;
			padding: 0px 15px;
			border-radius: 15px;

			background-color: white;

			.campground-text-input {
				margin: 20px 8px 8px 8px;
				min-width: 200px;

				@media (min-width: 768px) {
					margin: 10px 0 0 0;
				}
			}

			.date-range-container {
				margin: 0;
			}

			.search-button {
				margin-bottom: 20px;
				@media (min-width: 768px) {
					margin-bottom: 8px;
				}
			}

			@media (min-width: 768px) {
				flex-direction: row;
				align-items: center;
				justify-content: center;
			}
		}
		.suggestions-wrapper {
			background-color: white;
			margin-top: 15px;
			border-radius: 15px;
			z-index: 1;
			position: absolute;
			width: 100%;
			box-shadow: 0px 6px 20px rgb(0 0 0 / 20%);

			max-height: 300px;
			overflow-y: scroll;

			@media (min-width: 768px) {
				max-height: 300px;
				overflow-y: auto;
			}

			@media (min-width: 992px) {
				max-height: 350px;
				overflow-y: auto;
			}
		}
	}

	.search-results {
		background-color: white;
		margin-top: 15px;
		border-radius: 15px;
		overflow-y: scroll;
		max-height: 400px;
	}

	.empty-results {
		flex-direction: column;
		align-items: center;

		.create-alert-button,
		.login-button {
			margin-left: 0;
			margin-top: 20px;
			@media (min-width: 768px) {
				margin-top: 0;
				margin-left: auto;
			}
		}

		@media (min-width: 768px) {
			flex-direction: row;
			align-items: center;
		}
	}
}

header.Navbar {

	background-color: white;

	&.home:not(.scrolled)  {
		background-color: transparent;
		box-shadow: none;
	}



	.avatar {
		border-radius: 50%;
		width: 30px;
	}
}

.LoginWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 65px);
	margin-top: 65px;
}

.PrivatePage {
	margin-top: 65px;
}
