.bg-image {
	background-size: cover;
	background-image: url('./images/camping-background.jpg');
	min-height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

.Home {

	.form-wrapper {
		transform: translateY(100px);
		max-width: 1000px;
		margin: 0 auto;

		.search-form-container {
			display: flex;
			flex-direction: column;

			.campground-text-input {
				min-width: 350px;

				@media (min-width: 768px) {
					margin: 10px 0 0 0;
				}
			}

			@media (min-width: 768px) {
				flex-direction: row;
				align-items: center;
				justify-content: center;
			}
		}
		.suggestions-wrapper {
			max-height: 300px;
			overflow-y: scroll;
			border-bottom-left-radius: 15px;
			border-bottom-right-radius: 15px;
			ul {
				background-color: #fcf7ee;
				padding: 0;
			}

			@media (min-width: 768px) {
				max-height: 300px;
				overflow-y: auto;
			}

			@media (min-width: 992px) {
				max-height: 350px;
				overflow-y: auto;
			}
		}
	}

	.search-results {
		background-color: rgba(252, 247, 238, 0.85);
		margin-top: 15px;
		border-radius: 15px;
		overflow-y: scroll;
		max-height: 400px;
	}
}

.Alerts {
	.bg-image {
		background-image: url('./images/alerts-background.jpg');
	}
}

header.Navbar {
	background-color: transparent;
	box-shadow: none;

	.active {
		font-weight: 900;
	}

	.avatar {
		border-radius: 50%;
		width: 30px;
	}
}

.PrivatePage {
	margin-top: 65px;
}
