body {
	margin: 0;
	padding: 0;
}

.Home {
	height: 100vh;
	background-size: cover;
	background-image: url('./images/yosemite-bg-image.jpg');

	.form-wrapper {
		transform: translateY(200px);
		max-width: 700px;
		margin: 0 auto;
		.search-form-container {
			display: flex;
			padding: 0px 15px;
			border-radius: 15px;
			align-items: center;
			justify-content: center;
			background-color: white;
		}
		.suggestions-wrapper {
			background-color: white;
			margin-top: 15px;
			border-radius: 15px;
			z-index: 1;
			position: absolute;
			width: 100%;
			box-shadow: 0px 6px 20px rgb(0 0 0 / 20%);
		}
	}

	.search-results {
		background-color: white;
		margin-top: 15px;
		border-radius: 15px;
	}
}

.Navbar {
	position: fixed;
	box-shadow: 0 0 8px 8px rgb(0 0 0 / 7%);
	z-index: 1;
	top: 0;
	right: 0;
	left: 0;
	height: 65px;
	background-color: white;
	display: flex;
	align-items: center;
	padding: 0 15px 0px 15px;
	justify-content: space-between;

	&.home {
		background-color: transparent;
		box-shadow: none;
	}

	.avatar {
		border-radius: 50%;
		width: 30px;
	}
}

.LoginWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 65px);
	margin-top: 65px;
}

.PrivatePage {
	margin-top: 65px;
}
